<h1>Gerador de APK</h1>
<form method="post" action="/" enctype="multipart/form-data">
    <input type="file" value="banner" name="file"/>
    <input type="file" value="json" name="file"/>
    <input type="file" value="logo" name="file"/>
    <input type="text" name="appName"/>
    <input type="text" name="appType"/>
    <input type="text" name="color"/>
    <input type="text" name="domain"/>
    <input type="submit" value="Criar app"/>
</form>
